@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

body {
    width: 100%;
    height: auto;
    /* Set a background color that will be displayed
      while the background image is loading */
    background-color: black;
    
    /* Location of the background image */
    background-image: url('../images/Skullz.gif');
    background-repeat: repeat;

   
}

h1 {
    font-family: 'Lato', sans-serif;
    color: #eadd3d;
    font-size: 60px;
    text-shadow: 3px 3px 3px #000;
}

p {
    font-family: 'Verdana', sans-serif;
    color: #eadd3d;
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
}

/* unvisited link */
a:link {
  color: #ebebeb;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #eadd3d;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #eadd3d;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #eadd3d;
  text-decoration: underline;
}

#main_image {
   

    height: auto;
}

#watch_now {

    width: 100%;
    height: auto;

}

#footer_nav {
    
    width: 100%;
    height: 10%;
    border-collapse: collapse;
    background-color: black;
}

.center {

    width: 100%;
    height: auto;
    border: 0px;
    padding: 10px;
    
}

.container {

    position: relative;
    width: 90%;
    height: auto;
    
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.nav_img {

    height: 100%;
    /* Set a background color that will be displayed
      while the background image is loading */
    background-color: black;
    position: relative;
    display: inline-block;

}

.nav_img .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav_img:hover .img-top {
    display: inline;
}